.main-wrapper {
    padding: 0 2rem;
    margin: 0 auto;
}
.main-blog {
    --max-width: 1440px;

    /* margin: 0 auto; */
    margin-left: 20%;
    max-width: 80%;
    display: grid;
    gap: 3em;
    grid-template-areas: "blog-content toc";
    grid-template-columns: minmax(0, 2.5fr) minmax(0, 15rem);
    width: var(--max-width);
}
.blog-content {
    grid-area: "blog-content";
    padding-bottom: 3rem;
    padding-top: 3rem;
    max-width: 80%;
}
.toc {
    grid-area: "toc";
}

h1 {
    /* font-size: ; */
    margin-bottom: 2rem;
}
h2 {
    margin: 2rem 0 .5rem;
    /* margin-top: 2rem; */
}
h3 {
    margin: 2rem 0 .5rem;
}