.topnav {
    --topnav-height: 50px;
    

    /* layout */    
    padding-left: var(--gutter);
    padding-right: var(--gutter);
    margin-left: auto;
    margin-right: auto;

    /* color */
    color: brown;

    /* font */
    font-size: larger;

    border-bottom: 1px;
    border-color: var(--bg-blue-dark);
    border-style: none none solid none;
}
.topnav a {
    text-decoration: none;
    color: var(--text-dark);
}
.topnav button {
    text-decoration: none;
    background: none;
    appearance: none;
    border: none;
    color: var(--text-dark);
    font-size: large;
    cursor: pointer;
    display: inline-block;
}
.topnav-content {
    max-width: var(--max-width);
    margin: auto;
}


.topnav-home {
    align-items: center;
    display: flex;
    height: var(--topnav-height);
    flex: 0 1;
    gap: 1rem;
}
.topnav-main {
    align-items: center;
    display: flex;
    flex: 1 1;
    flex-direction: row;
    gap: .5rem;
    height: var(--topnav-height);
    justify-content: right;
}
